.obsidian/
Neovim/.config/nvim/lazy-lock.json
Clipse/.config/clipse/clipboard_history.json
Clipse/.config/clipse/tmp_files/
Clipse/.config/clipse/clipse.log
Fonts/.local/share/fonts/.uuid
Fonts/.local/share/fonts/*/.uuid
