.obsidian/
dotfiles/Neovim/.config/nvim/lazy-lock.json
dotfiles/Clipse/.config/clipse/clipboard_history.json
dotfiles/Clipse/.config/clipse/tmp_files/
dotfiles/Clipse/.config/clipse/clipse.log
dotfiles/Fonts/.local/share/fonts/.uuid
dotfiles/Fonts/.local/share/fonts/*/.uuid
