@define-color button-border #494d64;
@define-color module-background #363a4f;

* {
  all: unset;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font Mono Bold";
  transition: 200ms;
}

trough highlight {
  background: #fffffd;
}

scale trough {
  margin: 0rem 1rem;
  background-color: @module-background;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: #ffffff;
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px @module-background;
  border-radius: 12.6px;
  margin: 18px;
  background-color: #24273a;
  color: #cad3f5;
  padding: 0;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  box-shadow: inset 0 0 7px 0 #ed8796;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 7px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  color: #cad3f5;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time {
  color: #a5adcb;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: #cad3f5;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 7px;
  color: #cad3f5;
  background-color: @module-background;
  box-shadow: inset 0 0 0 1px @border-color;
  margin: 7px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  box-shadow: inset 0 0 0 1px @border-color;
  background-color: @module-background;
  color: #cad3f5;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  box-shadow: inset 0 0 0 1px @border-color;
  background-color: #7dc4e4;
  color: #cad3f5;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #24273a;
  background-color: #ed8796;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  background-color: #ee99a0;
  color: #24273a;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #ed8796;
  color: #24273a;
}

.control-center {
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px @module-background;
  border-radius: 10px;
  margin: 10px;
  background-color: #24273a;
  color: #cad3f5;
  padding: 14px;
  border: 2px solid @border-color;
}

.control-center .widget-title > label {
  color: #cad3f5;
  font-size: 1.4em;
}

.control-center .widget-title button {
  margin: -45px 500px 10px 0px;
  border-radius: 20px;
  border: 1px solid @border-color;
  background-color: @module-background;
  padding: 10px;
  font-weight: bold;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px @border-color;
  background-color: #5b6078;
  color: #cad3f5;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px @border-color;
  background-color: #7dc4e4;
  color: #24273a;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: #cad3f5;
  background-color: @module-background;
  box-shadow: inset 0 0 0 1px @border-color;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  box-shadow: inset 0 0 7px 0 #ed8796;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 7px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  color: #cad3f5;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time {
  color: #a5adcb;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: #cad3f5;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 7px;
  color: #cad3f5;
  background-color: #181926;
  box-shadow: inset 0 0 0 1px @border-color;
  margin: 7px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  box-shadow: inset 0 0 0 1px @border-color;
  background-color: @module-background;
  color: #cad3f5;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  box-shadow: inset 0 0 0 1px @border-color;
  background-color: #7dc4e4;
  color: #cad3f5;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #24273a;
  background-color: #ee99a0;
}

.close-button {
  border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #ed8796;
  color: #24273a;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #ed8796;
  color: #24273a;
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px @border-color;
  background-color: #8087a2;
  color: #cad3f5;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px @border-color;
  background-color: #7dc4e4;
  color: #cad3f5;
}

.notification.critical progress {
  background-color: #ed8796;
}

.notification.low progress,
.notification.normal progress {
  background-color: #8aadf4;
}

.control-center-dnd {
  border-radius: 12px;
  background: #aaafff;
  border: 10px solid @border-color;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @module-background;
}

.control-center-dnd slider {
  background: #494fff;
  border-radius: 12px;
}

.widget-dnd {
  margin: 10px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 12px;
  background: @module-background;
  border: 2px solid @border-color;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @module-background;
}

.widget-dnd > switch slider {
  background: @border-color;
  border-radius: 8px;
  border: 2px solid #6e738d;
}

.widget-mpris .widget-mpris-player {
  background: @module-background;
  padding: 15px;
  border: 1px solid @border-color;
  border-radius: 20px;
  /* margin-top: 15px; */
  margin: 10px 0px 5px 0px;
  /* margin: 5px; */
}

.widget-mpris .widget-mpris-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.9rem;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 1.3rem;
  margin: 0px 7px 5px 0px;
  background: transparent;
  /* padding: 0.5rem 2rem; */
}

.power-buttons {
  background-color: transparent;
  padding: 5px 0px 5px 0px;
  margin: 0px 8px 0px 8px;
  border-radius: 20px;
}

.power-buttons > button {
  background: @modules-background;
  border: none;
}

.power-buttons > button:hover {
  background: @button-border;
  border-radius: 20px;
  margin: 0px 230px 0px 230px;
}
.control-center .widget-label > label {
  color: #cad3f5;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding: 3px 5px 3px 10px;
  /* margin: 8px 8px 0px 8px; */
  margin: 0px 0px 5px 0px;
  border-radius: 20px;
  border: 1px solid @border-color;
  background-color: @module-background;
}

.widget-volume label {
  font-size: 1.5rem;
  color: #cad3f5;
}

.widget-volume trough highlight {
  background: #cad3f5;
  color: #cad3f5;
  border-radius: 20px;
}

.widget-backlight {
  margin: 0px 0px 5px 0px;
  padding: 3px 5px 3px 10px;
  border-radius: 20px;
  border: 1px solid @border-color;
  background: @module-background;
}

.widget-backlight trough highlight {
  background: #cad3f5;
  border-radius: 20px;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #cad3f5;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
